/*
 * Variables
 */

$text-color: #000;
$text-theme-color: #f58220;
$loud-color: #323232;
$heading-color: #000;
$menu-color: #fff;

$hr-border-width: 2px 0 0 0;

$link-color: #f5821f;
$link-hover-color: #fff;
$link-visited-color: purple;

$global-font-size: 10px; //font-size: 62.5%;  16em = 16rem = 16px /* Mac dinh ve gia tri 10px */
$base-font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
$base-font-size: 1.6rem; // 16em = 16rem = 16px
$base-line-height: 2.1rem;
$base-font-weight: 500;

// $fixed-font-family: 'Andale Mono', AndaleMono, monospace;
// $fixed-font-size: 15px;
// $fixed-line-height: 1.2;

$heading-font-family: 'Patua One', cursive;
$heading-font-weight: 700;

$body-bg: #fff;
$container-width: 1300px;
$full-width: 100%;
//boder
$base-boder-color: #000;
$radius: 5px;
//buttom
$btn-font-size: 1.6rem;
$brand-primary: $text-theme-color;
$brand-primary-bg: #f5821f;

// theme
$header-bg-color: rgba(115,173,33,.8);
$margin-title-h1: 30px 0 30px 0;