{% extends "layout.nunjucks" %}
{% block content %}
{% import '../templates/partials/navigation.html' as nav %}{{nav.active('Locations')}}
	<section id="breadcrumbs">
	    <div class="container">
	        <div class="row">
	            <div class="col-xs-12">
	                <ol>
	                    <li>
	                        <a href="index.html" title="Home" data-wpel-link="internal">
	                            <span>Home</span></a>
	                    </li>
	                    <li>»</li>
	                    <li>
	                        <a class="no-url" data-wpel-link="internal">
	                            <span>Restaurant Locations</span>
	                        </a>
	                    </li>
	                </ol>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- End section Breadcrumbs -->

	<section class="content-page locations-page">
	    <article class="container">
	        <h1 class="title-block">RESTAURANT LOCATIONS</h1>
	        <div class="main-block row">
	        	<div class="list-location-block col-md-4">
	        		<h2>Southern California</h2>
	        		<div class="main">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        	</div>
	        	<div class="list-location-block col-md-4">
	        		<h2>Southern California</h2>
	        		<div class="main">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        	</div>
	        	<div class="list-location-block col-md-4">
	        		<h2>Southern California</h2>
	        		<div class="main">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        	</div>
	        	<div class="list-location-block col-md-4">
	        		<h2>Southern California</h2>
	        		<div class="main">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        	</div>
	        	<div class="list-location-block col-md-4">
	        		<h2>Southern California</h2>
	        		<div class="main">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        	</div>
	        	<div class="list-location-block col-md-4">
	        		<h2>Southern California</h2>
	        		<div class="main">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        	</div>
	        </div>
	        <div class="col-xs-12 des-page text-center">
	        	<p><em>When Umami Burger first started, our mission was to craft a better burger—one maximizing delicious, craveable umami flavor. We’ve remained dedicated to that&nbsp;original goal&nbsp;as we&nbsp;continue to unlock the umami-flavor across the world.&nbsp;Find one of our gourmet burger restaurants near you and stay tuned for more Umami openings!</em></p>
	        </div>
	    </article>
	</section>
	<!-- End section Location Page-->	
{% endblock %}