{% extends "layout.nunjucks" %}
{% block content %}
{% import '../templates/partials/navigation.html' as nav %}{{nav.active('Menu')}}
	<section id="breadcrumbs">
	    <div class="container">
	        <div class="row">
	            <div class="col-xs-12">
	                <ol>
	                    <li>
	                        <a href="index.html" title="Home" data-wpel-link="internal">
	                            <span>Home</span></a>
	                    </li>
	                    <li>»</li>
	                    <li>
	                        <a class="no-url" data-wpel-link="internal">
	                            <span>Menu</span>
	                        </a>
	                    </li>
	                </ol>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- End section Breadcrumbs -->

	<section class="block-title-page-menu">
		<div class="bg-mask"></div>
	    <article class="container">
	    	<h1>Dinners</h1>
	    </article>
	</section>
	<!-- End section Title Images Menu -->

	<section id="menu-iteam-page" class="content-page">
	    <article class="container">
	        <div class="main-block row">
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>	
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>	
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>	
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>		        	
	        </div>

	    </article>
	</section>
	<!-- End section Location Page-->

	<section class="block-title-page-menu">
		<div class="bg-mask"></div>
	    <article class="container">
	    	<h1>Hamburgers</h1>
	    </article>
	</section>
	<!-- End section Title Images Menu -->

	<section id="menu-iteam-page" class="content-page">
	    <article class="container">
	        <div class="main-block row">
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>	
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>	
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>	
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>		        	
	        </div>

	    </article>
	</section>
	<!-- End section Location Page-->

	<section class="block-title-page-menu">
		<div class="bg-mask"></div>
	    <article class="container">
	    	<h1>Sandwiches</h1>
	    </article>
	</section>
	<!-- End section Title Images Menu -->

	<section id="menu-iteam-page" class="content-page">
	    <article class="container">
	        <div class="main-block row">
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>	
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>	
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>	
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>		        	
	        </div>

	    </article>
	</section>
	<!-- End section Location Page-->

	<section class="block-title-page-menu">
		<div class="bg-mask"></div>
	    <article class="container">
	    	<h1>Salads</h1>
	    </article>
	</section>
	<!-- End section Title Images Menu -->

	<section id="menu-iteam-page" class="content-page">
	    <article class="container">
	        <div class="main-block row">
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>	
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>	
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>	
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>		        	
	        </div>

	    </article>
	</section>
	<!-- End section Location Page-->

	<section class="block-title-page-menu">
		<div class="bg-mask"></div>
	    <article class="container">
	    	<h1>Kid's Meals</h1>
	    </article>
	</section>
	<!-- End section Title Images Menu -->

	<section id="menu-iteam-page" class="content-page">
	    <article class="container">
	        <div class="main-block row">
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>	
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>	
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>	
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>		        	
	        </div>

	    </article>
	</section>
	<!-- End section Location Page-->

	<section class="block-title-page-menu">
		<div class="bg-mask"></div>
	    <article class="container">
	    	<h1>Desserts</h1>
	    </article>
	</section>
	<!-- End section Title Images Menu -->

	<section id="menu-iteam-page" class="content-page">
	    <article class="container">
	        <div class="main-block row">
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>	
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>	
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>	
	        	<div class="list-menu-iteam-page col-sm-3">	        		
	        		<div class="thumb">
	        			<a href="#" title="California">
		        			<img src="images/Southern-California2.jpg" alt="California">		        			
		        		</a>
	        		</div>
	        		<h2>Menu Items Title</h2>
	        		<p>Choice top sirloin cooked to order with a side Greek salad, potatoes, rice and pita bread.</p>
	        	</div>		        	
	        </div>

	    </article>
	</section>
	<!-- End section Location Page-->	
{% endblock %}