	<footer>
	    <article class="container">
	    	<div class="row">
	    		<div class="col-sm-3 logo-footer">
		    		<a href="#" title="logo"><img src="images/logo.png" alt="logo"></a>
		    		<p>© King Kong Fast Food, LLC All rights reserved.</p>
		    	</div>
		    	<div class="col-sm-3 menu-footer">
		    		<h3>Menu</h3>
		    		<ul>
		    			<li><a href="#">CINDY’S CASA BURGER</a></li>
		    			<li><a href="#">CINDY’S CASA BURGER</a></li>
		    			<li><a href="#">CINDY’S CASA BURGER</a></li>
		    			<li><a href="#">CINDY’S CASA BURGER</a></li>
		    			<li><a href="#">CINDY’S CASA BURGER</a></li>
		    		</ul>
		    	</div>
		    	<div class="col-sm-3 menu-footer">
		    		<h3>Restaurant Locations</h3>
		    		<ul>
		    			<li><a href="#">Southern California</a></li>
		    			<li><a href="#">Southern California</a></li>
		    			<li><a href="#">Southern California</a></li>
		    			<li><a href="#">Southern California</a></li>
		    			<li><a href="#">Southern California</a></li>
		    		</ul>
		    	</div>
		    	<div class="col-sm-3 follow-footer">
					follow us : mail@kingkongfastfood.com
					<div class="footer-social-links">
						<a href="#" title="facebook"><i class="fa fa-facebook"></i></a>
	                    <a href="#" title="instagram"><i class="fa fa-instagram"></i></a>
	                    <a href="#" title="twitter"><i class="fa fa-twitter"></i></a>
	                    <a href="#" title="envelope"><i class="fa fa-envelope"></i></a>
					</div>
		    	</div>
	    	</div>
	    </article>
	</footer>
	<!-- /Footer -->