{% macro active(activePage='home') %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="{%if activePage == 'home' %}active{% endif %}"><a href="#">Home</a></li>
                <li class="{%if activePage == 'page1' %}active{% endif %}"><a href="#">Page 1</a></li>
                <li class="{%if activePage == 'page2' %}active{% endif %}"><a href="#">Page 2</a></li>
                <li class="{%if activePage == 'page3' %}active{% endif %}"><a href="#">Page 3</a></li>
            </ul>
        </div>
    </nav>
{% endmacro %}